@import "tailwindcss";

@theme {
  --color-background: #3d3d3d;
  --color-interactive: #578e7e;
  --color-foreground: #f5ecd5;
  --color-text: #fffaec;
  --color-foreground-pale: rgb(from var(--color-foreground) r g b / 0.2);
  --color-foreground-mid: rgb(from var(--color-foreground) r g b / 0.5);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-merriweather-sans);
}
